<!-- MENU -->
<nav id="nav">
    <ul class="navigation">
        <li>교회소개
            <ul>
                <li><a href="/greeting">담임목사인사말</a></li>
                <li><a href="/history">교회 발자취</a></li>
                <li><a href="/staff">섬기는사람들 </a></li>
                <li><a href="/direction">찾아 오시는 길 </a></li>
            </ul>
        </li>
        <li>예배/시설
            <ul>
                <li><a href="/sunsermon">예배시간 안내</a></li>
                <li><a href="/sermon_wed_fri">각부 예배 안내</a></li>
                <li><a href="/lecture">팰리세이즈팍 예배당</a></li>
                <li><a href="/sermon_morning">오클랜드 예배당</a></li>
            </ul>
        </li>
        <li>교회생활
            <ul>
                <li><a href="/Education01">새가족안내</a></li>
                <li><a href="/Education13">2014년 교회일정</a></li>
                <li><a href="/schoolnews">신앙생활 가이드</a></li>
                <li><a href="/schoolnews">행정서비스 안내</a></li>
                <li><a href="/schoolnews">교적부</a></li>
            </ul>
        </li>
        <li>교회조직
            <ul>
                <li><a href="/Notice">교구조직</a></li>
                <li><a href="/newcomeralbum">제직부서</a></li>
                <li><a href="/freeboard">자치기관</a></li>
                <li><a href="/Album">EM</a></li>
                <li><a href="/Athletics">청년부</a></li>
            </ul>
        </li>
        <li>교회학교
            <ul>
                <li><a href="/education">교회학교 소개</a></li>
                <li><a href="/newmember">각부 소개</a></li>
            </ul>
        </li>
        <li>교육 & 훈련
            <ul>
                <li><a href="/BuySell">새가족 교육</a></li>
                <li><a href="/writing">성경공부</a></li>
                <li><a href="/culture">제자훈련</a></li>
                <li><a href="/prayer">구역일꾼모임</a></li>
                <li><a href="/footballclub">구역모임</a></li>
                <li><a href="/fourth_namjundohoi">중보기도 사역훈련</a></li>
            </ul>
        </li>
        <li>선교
            <ul>
                <li><a href="/mission01">국내선교 </a></li>
                <li><a href="/mission03"> 해외선교</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- ---- -->

<div id="mainwrapper">
    <div id="contentwrapper">
        <div id="mainbanner">
            <div id="slideshow">
                <img src="img/main_banner.jpg" alt="Slideshow Image 1" class="active"/>
                <img src="img/main_banner_a.jpg" alt="Slideshow Image 2"/>
                <img src="img/main_banner_b.jpg" alt="Slideshow Image 3"/>
            </div>
        </div>

        <div id="noticewrapper">
            <div id="noticewrapper01"><img src="img/notice.jpg"/></div>
            <div id="noticewrapper02"><img class="zbxe_widget_output" widget="content" skin="updatenews"
                                           content_type="document" module_srls="359" list_type="normal" tab_type="none"
                                           markup_type="table" list_count="10" page_count="1" option_view="title"
                                           show_browser_title="N" show_comment_count="Y" show_trackback_count="Y"
                                           show_category="Y" show_icon="Y" order_target="list_order" order_type="desc"
                                           thumbnail_type="crop"/></div>
        </div>
        <div id="contentwrapper02">
            <div id="jubowrapper"><a href="/Jubo"><img src="img/jubot.jpg" border="0"/></a>

                <div id="jubo">
                    <ul>

                        <img class="zbxe_widget_output" widget="newest_document" skin="Jubo" subject_cut_size="25"
                             order_target="list_order" order_type="desc" list_count="4" display_regdate="Y"
                             module_srls="222"/>

                    </ul>
                </div>
            </div>
            <div id="videowrapper">
                <ul>

                    <!--<li><a href="/sermon"><img src="img/banner_sermon.jpg" border="0" /></a></li>-->
                    <li>
                        <img class="zbxe_widget_output" widget="newest_document" skin="Sermon" subject_cut_size="25"
                             order_target="list_order" order_type="desc" list_count="1" display_regdate="Y"
                             module_srls="6089"/><!--136-->
                    </li>
                    <li><span class="youtube" rel="CexPxAYJv6M" style="cursor: pointer"><img src="img/banner_video.jpg"
                                                                                             border="0"/></span></li>
                    <li><span class="youtube" rel="Rlnc0XHBO0I" style="cursor: pointer"><img src="img/banner_pastor.jpg"
                                                                                             border="0"/></span></li>


                </ul>
            </div>
        </div>
        <div id="sbannerwrapper">
            <ul>
                <li><img src="img/sbanner01.jpg" border="0" usemap="#Map"/>
                    <map name="Map" id="Map">
                        <area shape="rect" coords="103,14,121,41" href="https://www.facebook.com/dowan.kim.10"
                              target="_blank"/>
                        <area shape="rect" coords="124,10,146,40" href="http://twitter.com/santa1113" target="_blank"/>
                        <area shape="rect" coords="6,12,84,55" href="/staff02"/>
                        <area shape="rect" coords="87,19,103,36" href="mailto:kdw1970@gmail.com" target="_blank"/>
                    </map>
                </li>
                <li><a href="/service_intro"><img src="img/sbanner02.jpg" border="0"/></a></li>
                <li><a href="/direction"><img src="img/sbanner03.jpg" border="0"/></a></li>
                <li><a href="/newcomer" target="_blank"><img src="img/sbanner04.jpg" border="0"/></a></li>
                <li><a href="/education01"><img src="img/sbanner05.jpg" border="0"/></a></li>
                <li class="sbannerlast"><a href="/praisealbum"><img src="img/sbanner06.jpg" border="0"/></a></li>
            </ul>
        </div>
        <div id="boardwrapper">


            <div id="newsboard">
                <div id="newsboard01">
                    <div id="newsboard01t">교회소식</div>
                    <div id="newsboard01icon"><a href="/Notice"><img src="img/icon01.jpg" border="0"/></a></div>
                </div>
                <div id="newsboardlistw">
                    <div id="newsboardlist">
                        <ul>
                            <img class="zbxe_widget_output" widget="newest_document" skin="xe_official2"
                                 subject_cut_size="20" order_target="list_order" order_type="desc" list_count="4"
                                 display_regdate="Y" module_srls="221"/>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="newsboard">
                <div id="newsboard01">
                    <div id="newsboard01t">최신글</div>
                    <div id="newsboard01icon"><img src="img/icon02.jpg" border="0"/></div>
                </div>
                <div id="newsboardlistw">
                    <div id="newsboardlist">
                        <ul>
                            <img class="zbxe_widget_output" widget="newest_document" skin="xe_official2"
                                 subject_cut_size="20" order_target="list_order" order_type="desc" list_count="4"
                                 display_regdate="Y"
                                 module_srls="366, 701, 454, 413, 225, 223, 227, 407, 409, 410, 2298, 565, 224"/>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="photoboard">
                <div id="photoboard01">
                    <div id="photoboard01t">교회앨범</div>
                    <div id="photoboard01icon"><a href="/Album"><img src="img/icon03.jpg" border="0"/></a></div>
                </div>
                <div id="photoboardlistw">
                    <div id="photoboardlist">
                        <ul>

                            <img class="zbxe_widget_output" widget="contentslider" skin="bxSlider"
                                 colorset="Multiple_Slides" module_srls="226" thumbnail_type="crop"
                                 order_target="list_order" order_type="desc" show_control="N" navigation_control="N"
                                 content_items_shuffle="N" slide_auto="true" target_ext_var="none" open_article="Y"
                                 ptypoto="pp_default" img_fade="Y" show_title="N" title_font_family="Default"
                                 show_content="N" content_font_family="Default" thumbnail_width="110"
                                 thumbnail_height="90" cols_list_count="3" list_count="5" thumbnail_bdcolor="#fff"
                                 thumbnail_bdsize="0"/>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="clear"></div>
        <div id="boardwrapper02"></div>
    </div>
</div>
